@font-face {
	font-family: PlayfairDisplay;
	font-display: swap;
	src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: PlayfairDisplay;
	font-display: swap;
	src: url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: TTLakesNeue;
	font-display: swap;
	src: url("../fonts/TTLakesNeue-Bold.woff2") format("woff2"), url("../fonts/TTLakesNeue-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: TTLakesNeue;
	font-display: swap;
	src: url("../fonts/TTLakesNeue-Medium.woff2") format("woff2"), url("../fonts/TTLakesNeue-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: TTLakesNeue;
	font-display: swap;
	src: url("../fonts/TTLakesNeue-Regular.woff2") format("woff2"), url("../fonts/TTLakesNeue-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: StoneSoupNFW;
	font-display: swap;
	src: url("../fonts/StoneSoupNFW-Regular.woff2") format("woff2"), url("../fonts/StoneSoupNFW-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PlayfairDisplay;
	font-display: swap;
	src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
