// Заголовки, общие БЄМ блоки и проче...
.btn {
   font-weight: 700;
   font-size: rem(17);
   line-height: rem(21);
   letter-spacing: 0.07em;
   text-transform: uppercase;
   color: $darkColor;
   padding: rem(20);
   background: $accentColor;
   border-radius: rem(10);
   transition: background-color 500ms linear;
   &:hover {
      background: $hoverColor;
   }

}